<!--@subject Verificación de email para Proveedor {{var vendor.vendor_name}} en {{var store_name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Estimado(a) {{var vendor.vendor_name}},</h1>
            <p>El email {{var vendor.email}} debe ser confirmado antes de poder ingresar al Portal de Proveedores.</p>
            <p class="highlighted-text">
<p>Para confirmar el email, por favor haga click <a href="{{store url="umicrosite/vendor/confirm/" _query_id=$vendor.vendor_id _query_key=$vendor.confirmation}}" style="color:#1E7EC8;">aquí</a>. Este link es sólo válido una vez.</p>
            </p>
 <p>Muchas Gracias !,<br/>El Equipo de <a href="{{store url=''}}">{{var store_name}}</a></p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}

